:root {
  --color-rosa: #FBDFDB;
  --color-font-default: #111111;
  --color-font-chief:#777777;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  /*margin: 0 auto;
  width: 940px;*/
}

/*=====HEADER=====*/

.header__top {
  margin: 0 auto;
  width: 940px;
  height: 35px;
  padding-bottom: 32px;
}

.links a {
  font-size: 16px;
  color: var(--color-font-default);
  text-decoration: none;
  margin: 0 30px 0 0;
}

.links a:hover {
  font-weight: 800;
}

.links img {
  margin: 0px 100px 0 0;
  padding-top: 20px;
}

/*=====BANNER=====*/

.header__banner {
  margin: 0 auto;
  width: 940px;
  height: 366px;
  background-color: var(--color-rosa);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header__banner .text-banner {
  width: 320px;
  padding: 120px 50px;
  color: var(--color-font-default)
}

.header__banner .text-banner h1 {
  font-size: 32px;
  line-height: 38px;
}

.header__banner .text-banner p {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  opacity: 70%;
  padding-top: 10px;
}

.header__banner .img-banner {
  margin-top: 66px;
  margin-right: 100px;
}

.title-foods {
  margin: 0 auto;
  width: 940px; 
  padding-top: 50px;
  padding-bottom: 20px;
}

.title-foods h1{
  font-size: 24px;
  font-weight: bold;
  color: var(--color-font-default);
}

/*=====SECTION=====*/
.foods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  gap: 20px;
  /*padding-bottom: 50px;*/
}

.foods .food img{
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.foods .food img:hover{
  cursor: pointer;
  opacity: 70%;
  transition: 500ms;
}

.foods .food__text h1{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 20px;
}

.foods .food__chef h4{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-font-chief);
  padding-top: 5px;
}

/*=====RODAPÉ=====*/
footer {
  background-color: #EEEEEE;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer p{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

/*=====MODAL=====*/
.modal-overlay {
  background-color: rgba(0 0 0 0.1) ;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 660px;
  height: 413px;
  margin: 10vh auto;
  position: relative;
  border-radius: 16px;
  display: flex;
  border: 1px solid var(--color-rosa);
}

/* =====MODAL.ACTIVE =====*/

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  align-items: center;
  justify-content: center;
}

.modal-content img {
  width: 600px;
  height: 200px;
  border-radius: 15px;
  margin: 30px 30px 20px;
}

.modal-content h1 {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-font-default);
  text-align: center;
}

.modal-content h4 {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-font-chief);
  text-align: center;
  margin-top: 5px;
}

.modal-content p{
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}

.modal-content p:hover{
  color: black;
  transition: 1000ms;
}