{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - O Restaurante da Rocketseat - Receitas</title>
{% endblock %}

{% block content %}
  <section class="foods">
   {% for recipe in recipes %}
    <div class="food" id="{{loop.index}}">
      <div class="food__image">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      </div>
      <div class="food__text">
        <h1>{{recipe.title}}</h1>
      </div>
      <div class="food__chef">
        <h4>{{recipe.author}}</h4>
      </div>
    </div>
    {% endfor %}

    {% for recipe in recipes %}
    <div class="food" id="{{loop.index}}">
      <div class="food__image">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      </div>
      <div class="food__text">
        <h1>{{recipe.title}}</h1>
      </div>
      <div class="food__chef">
        <h4>{{recipe.author}}</h4>
      </div>
    </div>
    {% endfor %}
  </section>

{% endblock %}