{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - O Restaurante da Rocketseat - Receitas</title>
{% endblock %}

{% block content %}
  <section class="grid__recipes">
    {% for recipe in recipes %}
      <div class="recipe" id="{{recipe.id}}">
        <div class="image">
          <a href="/recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"></a>
        </div>
        <div class="text">
          <h1>{{recipe.title}}</h1>
        </div>
        <div class="chef">
          <h4>por {{recipe.chef}}</h4>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}