<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Área Administrativa - FoodFy</title>
</head>
</head>
<body>
  <div class="wrapper">
    <header class="header__top_admin">  
      <div class="links-admin">
        <a href="/admin" class="logo-image"><img src="/assets/logo.png" alt=""></a>
        <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFS</a>
      </div>
    </header>

    {% block content %}
    
    {% endblock %}
  </div>

  <script src="/js/script.js"></script>
</body>
</html>