{% extends "../layout.njk"%}

{% block content %}

<form class="main-content" method="POST" action="/admin/recipes">
  <div class="admin__title">
    <div>Criando Receita</div>
    <div><button type="submit" class="save">Salvar Receita</button></div>
  </div>

  {% include 'admin/recipes/fields.njk' %}

</form>

{% endblock %}