<div class="item">
  <div>Nome da Receita</div>  
  <div><input type="text" name="title" value="{{recipe.title}}" required/></div>
</div>

<div class="item">
  <div>Autor da Receita</div>
  <select name="chef_id">
    {% for chef in chefs %}
      <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>{{chef.name}}</option>
    {% endfor %}
  </select>
</div>


<div class="item">
  <div>Imagem da Receita</div>  
  <div><input type="text" name="image" value="{{recipe.image}}" required/></div>
</div>

<div class="item">
  <div>Ingredientes</div>  
  <div id="ingredients"> 
    {% for ing in recipe.ingredients %}
      <div class="ingredient item-dynamic">
        <button type="button" class="remove-item" onclick="removeInput(this)"><i class="material-icons">remove_circle</i></button>
        <input type="text" name="ingredients[]" value="{{ing}}" />
      </div>
    {% else %}
      <div class="ingredient item-dynamic">
        <button type="button" class="remove-item" onclick="removeInput(this)"><i class="material-icons">remove_circle</i></button>
        <input type="text" name="ingredients[]" value=""/>
      </div>
    {% endfor %}
  </div>
  <div><button type="button" class="addNewIngredient">Adicionar novo ingrediente</button></div>
</div>

<div class="item">
  <div>Modo de Preparo</div>  
  <div id="preparations">
    {% for step in recipe.preparation %}
      <div class="preparation item-dynamic">
        <button type="button" class="remove-item" onclick="removeInput(this)"><i class="material-icons">remove_circle</i></button>
        <input type="text" name="preparation[]" value="{{step}}" required/>
      </div>
    {% else %}
      <div class="preparation item-dynamic">
        <button type="button" class="remove-item" onclick="removeInput(this)"><i class="material-icons">remove_circle</i></button>
        <input type="text" name="preparation[]" value="{{recipe.preparation}}" required/>
      </div>
    {% endfor %}
  </div>
  <div><button type="button" class="addNewPreparation">Adicionar novo passo</button></div>
</div>

<div class="item">
  <div>Informações adicionais</div>  
  <div><textarea rows="12" cols="50" name="information">{{recipe.information}}</textarea></div>
</div>